
$color_text: #350000;
$color_a_hover: #737361;
$color_price: #da2c19;

body{
	font-size: 14px;
	font-family: 'arial' ;
}
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
font,
img,
ol,
ul,
li,
button {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    color: #333;
    vertical-align: baseline;
    background: transparent;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}
#calendar_clock{
	display: flex;
	li{
		margin-right: 10px;
		&:last-child{
			margin-right: 0;
		}
		svg{
			margin-right: 5px;
		}
	}
}
.wrap {
	width: 1170px;
    margin: auto;
}

.container {
    width: 100%;
        float: left;
   
}
.clear {
	clear: both;
}
.left {
	float: left;
}
.right {
	float: right;
}
a{
	text-decoration: none;
	color: #333;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}
ul {
    list-style-type: none;
}
input {
    outline: none;
}

select {
    outline: none;
}

textarea {
    outline: none;
}

.css-content {
    font: 16px/22px 'Roboto', Helvetica, Arial, sans-senif;
    box-sizing: border-box;
}

.css-content h1,
.css-content h2,
.css-content h3,
.css-content h4,
.css-content h5 {
    margin: 0.3em 0 0em;
    line-height: 1.5em !important;
}

.css-content a {
    color: #001dff;
}

.css-content figure.sudo-media-item {
    padding-bottom: 10px;
}

.css-content h1 {
    font: 700 24px/28px 'Roboto', Helvetica, Arial, sans-senif;
}

.css-content h2 {
    font: 700 20px/24px 'Roboto', Helvetica, Arial, sans-senif;
}

.css-content h3 {
    font: 700 18px/21px 'Roboto', Helvetica, Arial, sans-senif;
}

.align-center {
    width: 100% !important;
    text-align: center;
}

.css-content em {
    font-style: italic;
}

.css-content em strong {
    font-style: oblique;
}

.css-content p {
    line-height: 2em;
    padding-top: 10px;
    color: #333;
}

.css-content table {
    max-width: 100%;
    margin: 0 auto 10px;
    border-collapse: collapse;
    border-spacing: 0;
}

.css-content table th,
.css-content table td {
    border: 1px solid #ccc;
}

.css-content ul,
.css-content ul li {
    list-style-type: disc;
    margin-left: 10px;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.css-content ul li {
    list-style-type: disc;
    margin-left: 30px;
    margin-bottom: 0.5em;
    line-height: 1.4em;
    color: #333;
}

.css-content ol {
    list-style: decimal;
    padding: 0 0 0 15px;
    margin: 0;
}

.css-content ol li {
    list-style-type: disc;
    margin-left: 30px;
    margin-bottom: 0.5em;
    line-height: 1.4em;
}

.css-content img {
    max-width: 100%;
    height: auto;
}
#flex_repeat{
    display: flex;
    
}
#h_title{
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 10px;
    font-size: 30px;
    &::after{
        content: '';
        position: absolute;
        width: 100px;
        height: 2px;
        background-color: #db0000;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}
/*css dich vu chung toi*/
.our-serv {
    padding: 50px 0;
    &_list{
        &__item{
            background-color: #000;
            width: 25%;
            margin-right: 10px;
            border-radius: 3px;
            padding: 40px 20px 20px 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: 0 0 4px 0 rgba(0,0,0,0.6);
            &:last-child{
                margin-right: 0;
            }
            h3,#des,#conct_now{
                color: #fff;
            }
            h3{
                font-size: 20px;
            }
            #des{
                margin: 10px 0;
            }
            #conct_now{
                background-color: #db0000;
                padding: 10px 20px;
                border-radius: 3px;
                text-transform: uppercase;
            }
        }
    }
}
/*thiet ke web*/
.web-desgin{
    background-image: url('../images/anh1.png');
    padding: 50px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .wrap{
        #h_title{
            color: #fff;
        }
    }
    &_list{
        &__item{
            background-color: #fff;
            border-radius: 3px;
            margin-right: 10px;
            box-shadow: 0 0 4px 0 rgba(0,0,0,0.6);
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px 15px;
            transition: all ease 0.5s;
            cursor: pointer;
            &:hover{
                box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.3);
            }
            #h_title_1{
                text-transform: uppercase;
                font-size: 20px;
                margin-bottom: 30px;
            }
            p{
                line-height: 20px;

            }
            &:last-child{
                margin-right: 0;
            }
        }    
    }
    .contact_h{
        text-align: center;
        margin-top: 30px;
        #contact_now{
            background-color: #db0000;
            padding: 10px 20px;
            text-transform: uppercase;
            color:#fff;
        }
    }
}
/*du an tieu bieu*/
.typical-pject{
    padding: 50px 0;
    background-color: #f0f2f5;
    &_list{
        flex-wrap: wrap;
        &__item{
            width: 32.76%;
            margin-right: 10px;
            margin-bottom: 10px;
            &:nth-child(3n+3){
                margin-right: 0;
            }
            .img{
                width: 100%;
                height: 400px;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    &_view{
        text-align: center;
        margin-top: 20px;
        #show_view{
            background-color: #db0000;
            padding: 10px 20px;
            text-transform: uppercase;
            color: #fff;
        }
    }
}
/*tin  tuc*/
.h-news{
    padding: 50px 0;
    &_list{
        flex-wrap: wrap;
        &__item{
            width: 32.76%;
            margin-right: 10px;
            margin-bottom: 10px;
            transition: all ease 0.5s;
            &:hover{
                box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.3);
            }
            &:nth-child(3n+3){
                margin-right: 0;
            }
            .img{
                height:200px;
                overflow:hidden;
                img{
                    height:100%;
                    width:100%;
                    object-fit: cover;
                }
            }
            .infor{
                margin:10px 0;
                padding: 0 10px;
                ul{
                    display:flex;
                    margin:10px 0;
                    li{
                        &:first-child{
                            margin-right:10px;
                        }
                    }
                }
                p#des{
                    height: 40px;
                    overflow: hidden;
                    line-height: 20px;
                }
                >a{
                    display: block;
                    font-weight: bold;
                    margin-top: 10px;
                }
            }
        }
    }
}

/* footer */

.footer{
    background: #222222;
    padding: 50px 0;
}
  .footer-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    color: #ffffff;
    margin-bottom: 37px;
  }
  
  .footer-item {
    float: left;
    width: calc(100% / 4);
    margin-bottom: 20px;
  }
  
  .footer-item:nth-child(2), .footer-item:nth-child(3) {
    padding: 0 10px;
  }
  
  .footer-item__list li {
    margin-bottom: 20px;
  }
  
  .footer-item__list li a {
    color: #0981bf;
  }
  
  .footer-item__list li i {
    font-size: 20px;
    margin-right: 10px;
    line-height: 20px;
  }
  
  .footer-item__text {
    margin-bottom: 20px;
    color: #fff;
  }
  
  .footer-item__list-info li {
    width: 100%;
    clear: both;
    float: left;
    margin-bottom: 20px;
  }
  
  .footer-item__list-info li i {
    margin-right: 20px;
    color: #0981bf;
    float: left;
    width: 10px;
    margin-top: 3px;
  }
  
  .footer-item__list-info li p {
    float: left;
    width: calc(100% - 30px);
    color: #fff;
  }
  
  .footer-item input[type=text] {
    background: #c1c1c1;
    text-align: center;
    width: 100%;
    height: 55px;
    margin-bottom: 10px;
    border: none;
    padding: 10px;
  }
  
  .footer-item button {
    width: 100%;
    height: 50px;
    border: none;
    background: #ec222a;
    text-transform: uppercase;
    color: #ffffff;
  }
  
  .footer-bottom {
    width: 100%;
    clear: both;
    float: left;
    background: #2c2c2c;
    height: 75px;
    padding: 20px 0;
  }
  
  .footer-bottom__left {
    float: left;
  }
  
  .footer-bottom__right {
    float: right;
  }
  
  .footer-bottom__text {
    color: #8fa89d;
    line-height: 35px;
  }
  
  .footer-bottom__list li {
    float: left;
    padding: 10px 0;
  }
  
  .footer-bottom__list li:last-child a {
    border-right: none;
  }
  
  .footer-bottom__list li a {
    color: #ffffff;
    line-height: 15px;
    border-right: 1px solid #ffffff;
    padding: 0 10px;
  }

  /* header */
.header {

    &-top {
        background: #0c78b8;
        height: 50px;
        color: #fff;
        &__left {
            float: left;
            ul {
                li {
                    float: left;
                    line-height: 50px;
                    padding: 0 15px;
                    border-right: 1px solid #2785bb;
                    color: #fff;
                    &:last-child {
                        border-right: none;
                    }
                    i {
                        margin-right: 10px;
                    }
                }
            }
        }
        &__right {
            float: right;
            ul {
                li {
                    float: left;
                    padding: 0 10px;
                    border-right: 1px solid #2785bb;
                    a {
                        line-height: 50px;
                        color: #fff;
                        padding: 0 5px;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
    &-content {
    
        background: #fff;
        height: 100px;
        color: #000;
        padding: 15px 0;
    }
    .logo {
        float: left;
        img {
            height: calc(100px - 30px);
            width: 250px;
        }
    }
    .menu {
        &-box {
            float: right;
        }
        &-container {
            li {
                float: left;
                a {
                    line-height: calc(100px - 30px);
                    padding: 20px;
                    text-transform: uppercase;
                }
            }
        }
        &-btn {
            display: none;
        }
    }
    .search {
        float: right;
        position: relative;
        &-btn {
            border: none;
            background: #fff;
            font-size: 16px;
            line-height: 45px;
            padding: 10px;
        }
        &-form {
            display: none;
            position: absolute;
            right: 0;
            top: 85px;
            z-index: 200;
            width: 300px;
            background: #ffffff;
            input {
                width: calc(100% - 45px);
                float: left;
                height: 45px;
                padding: 5px;
                color: #000;
            }
            button {
                height: 45px;
                width: 45px;
                float: left;
                border: none;
                background: #0c78b8;
                color: #fff;
            }
        }
    }
}